*
!.gitignore
!cache
!uploads
!upgrade

# Languages
!languages/
!languages/**

# MU Plugins
!mu-plugins
mu-plugins/**
!mu-plugins/bedrock-autoloader.php

# Plugins
!plugins
plugins/**
!plugins/.gitkeep

# Themes
!themes
themes/**
!themes/.gitkeep

# Put your themes, plugins exception here, e.g.
!plugins/demoda
!plugins/demoda/**

!plugins/enpii-html-components
!plugins/enpii-html-components/**

!themes/appeara-alpha
!themes/appeara-alpha/**
