<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="public/vendor/phpunit/phpunit/phpunit.xsd"
	bootstrap="tests/bootstrap-unit.php"
	executionOrder="depends,defects"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTodoAnnotatedTests="true"
	colors="true"
	verbose="true"
	processIsolation="false"
	cacheResultFile=".phpunit.cache/test-results"
>
    <testsuites>
        <testsuite name="unit">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory=".phpunit.cache/code-coverage"
		processUncoveredFiles="false"
	>
        <include>
            <directory suffix=".php">./public/wp-content/plugins/demoda/src</directory>
            <directory suffix=".php">./public/wp-content/themes/appeara-alpha/src</directory>
        </include>
    </coverage>

    <php>
        <ini name="serialize_precision" value="14"/>
		<env name="WP_TESTS_DIR" value="./tests/unit" />
        <env name="WP_CORE_DIR" value="./public" />
        <env name="WP_DEBUG" value="true" />
        <env name="WP_CONTENT_DIR" value="./public/wp-content" />
        <env name="WP_PLUGIN_DIR" value="./public/wp-content/plugins" />
    </php>
</phpunit>
